@font-face {
  font-family: Jost;
  src: local('Jost'),
  url(./assets/fonts/Jost-Medium.eot?) format("eot"),
  url(./assets/fonts/Jost-Medium.woff2) format("woff2"),
  url(./assets/fonts/Jost-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: local('Jost'),
  url(./assets/fonts/Jost-Bold.eot?) format("eot"),
  url(./assets/fonts/Jost-Bold.woff2) format("woff2"),
  url(./assets/fonts/Jost-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: local('Jost'),
  url(./assets/fonts/Jost-BoldItalic.eot?) format("eot"),
  url(./assets/fonts/Jost-BoldItalic.woff2) format("woff2"),
  url(./assets/fonts/Jost-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: local('Jost'),
  url(./assets/fonts/Jost-Italic.eot?) format("eot"),
  url(./assets/fonts/Jost-Italic.woff2) format("woff2"),
  url(./assets/fonts/Jost-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  font-family: Jost, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
